DATABASE_HOSTNAME= # if using on locally not docker use "localhost" as DATABASE_HOSTNAME
DATABASE_PORT=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_USERNAME=
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
SENDER_MAIL=
SUPERADMIN_MAIL=
APP_PASSWORD_MAIL=
APP_SCHEDULING_TIME=
